{% load static %}
<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Take Attendance</title>
	<script src="{% static 'js/Chart.min.js' %}"></script>
	<script src="{% static 'js/utils.js' %}"></script>
	<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		height: 300px; !important;
	}
	</style>
	<link rel="shortcut icon" href="{% static 'icon/staff.svg' %}">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="{% static 'css/take_attendance.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

	<header>
      <ul id="topbar">
        <li><a href="#">{{ result }}</a></li>
        <li><a href="{% url 'home:signout' %}">Sign Out &nbsp;<i class="fa fa-sign-out"></i></a></li>
      </ul>
    </header>

	<div class="flexd">

		<div class="sidebar">

			<div id="mySidenav" class="sidenav">

				<ul id="sidebar_options">
					<li class="btn1"><a href="{% url 'home:dashboard' %}"><i class="fas fa-qrcode"></i>Dashboard</a></li>
					{% if role == 'professor' %}
					<li class="btn1 active"><a href="{% url 'home:take_attendance'  '-' '-' %}"><i class="fas fa-pen"></i>Attendance Entry</a></li>
					<li class="btn1"><a href="{% url 'home:modify_attendance' %}"><i class="fas fa-edit"></i>Modify Attendance</a></li>
					{% endif %}
					{% if role == 'facultyAdvisor' %}
					<li class="btn1 active"><a href="{% url 'home:take_attendance' '-' '-' %}"><i class="fas fa-pen"></i>Attendance Entry</a></li>
					<li class="btn1"><a href="{% url 'home:modify_attendance' %}"><i class="fas fa-edit"></i>Modify Attendance</a></li>
					<li class="btn1"><a href="{% url 'home:generate_report' %}"><i class="fas fa-file"></i>Generate Report</a></li>
					{% endif %}
					{% if role == 'student' %}
					<li class="btn1"><a href="{% url 'home:view_attendance' %}"><i class="fas fa-eye"></i>View Attendance</a></li>
					{% endif %}
					<li class="btn1"><a href="#"><i class="far fa-question-circle"></i>About</a></li>
					<li class="btn1"><a href="#"><i class="far fa-envelope"></i>Contact</a></li>
				</ul>

			</div>

		</div>

		<div class="section">
            <div class="section_heading">
				<h1>Attendance Entry</h1>
			</div>
			<form action="{% url 'home:take_attendance' subject class %}" method="post" style="margin: 25px;">
				{% csrf_token %}
				<table width="40%">
					<tr>
						<td><label for="class"  style="font-size: 21px;">Class</label></td>
						<td>
							{% if class != '-' %}
							<input type="text" value="{{ class }}" name="class" disabled style="font-size: 21px;">
							{% else %}
							<input type="text" value="{{ class }}" name="class" style="font-size: 21px;">
							{% endif %}
							<br><br>
						</td>
					</tr>
					<tr>
						<td><label for="subject"  style="font-size: 21px;">Subject</label></td>
						<td>
							{% if class != '-' %}
							<input type="text" value="{{ subject }}" name="subject" disabled style="font-size: 21px;">
							{% else %}
							<input type="text" value="{{ subject }}" name="subject" style="font-size: 21px;">
							{% endif %}
							<br><br>
						</td>
					</tr>
					<tr>
						<td><label for="professor"  style="font-size: 21px;">Professor</label></td>
						<td>
							<input type="text" value="{{ result }}" name="professor" disabled style="font-size: 21px;">
							<br><br>
						</td>
					</tr>
					{% for i in student %}
						<tr>
							<td><input type="checkbox" name="roll" value="{{ i.roll_number }}"></td>
							<td><label for="{{ i.roll_number }}">{{ i.roll_number }}</label></td>
						</tr>
					<!--<input type="checkbox" name="roll" value="{{ i.roll_number }}"> {{ i.roll_number }} &nbsp;&nbsp;&nbsp; {{ i.name }}<br>-->
					{% endfor %}
					<tr>
						<td colspan="2"><input type="submit" name="submit" value="Take attendance" style="margin: 10px 40% 0;"></td>
					</tr>
				</table>
			</form>
		</div>
	</div>

	<script>
      var btnContainer = document.getElementById("mySidenav");
      var btns = btnContainer.getElementsByClassName("btn1");
      for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
          var current = document.getElementsByClassName("active");
          current[0].className = current[0].className.replace(" active", "");
          this.className += " active";
        });
      }
    </script>
		
	<script>
	var color = Chart.helpers.color;
	var barChartData = {
		labels: ['Dbms','OS', 'DCN', 'LAW','THOC'],
		datasets: [{
			backgroundColor: [
				'red',
				'blue',
				'green',
				'rgb(75, 192, 192)',
				'rgb(153, 102, 255)',
			],
			borderColor: [
				'rgba(255,99,132,1)',
				'rgba(54, 162, 235, 1)',
				'rgba(255, 206, 86, 1)',
				'rgba(75, 192, 192, 1)',
				'rgba(153, 102, 255, 1)',
			],
			borderWidth: 1,
			data: [{% for i in xd %}{{ i }},{% endfor %}]
		}]
	};

	window.onload = function() {
		var ctx = document.getElementById('chart').getContext('2d');
		window.myBar = new Chart(ctx, {
			type: 'bar',
			data: barChartData,
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
					position: 'top',
				},
				title: {
					display: true,
					text: 'Atttendance'
				},
				scales: {
					xAxes: [{
					   display:true
					}],
					yAxes: [{
						ticks: {
						   beginAtZero:true,
						   stepSize: 1,
						   max: {{ max }},
						}
					}]
				}

			}
		});

	};
	</script>
</body>

</html>
