{% load static %}
<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>View Attendance</title>
	<script src="{% static 'js/Chart.min.js' %}"></script>
	<script src="{% static 'js/utils.js' %}"></script>
	<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		height: 300px; !important;
	}
	</style>
	<link rel="shortcut icon" href="{% static 'icon/staff.svg' %}">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<link rel="stylesheet" href="{% static 'css/view_attendance.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

	<header>
      <ul id="topbar">
        <li><a href="#">{{ result }}</a></li>
        <li><a href="{% url 'home:signout' %}">Sign Out &nbsp;<i class="fa fa-sign-out"></i></a></li>
      </ul>
    </header>

	<div class="flexd">
		<div class="sidebar">
			<div id="mySidenav" class="sidenav">
				<ul id="sidebar_options">
					<li class="btn1"><a href="{% url 'home:dashboard' %}"><i class="fas fa-qrcode"></i>Dashboard</a></li>
					{% if role == 'professor' %}
					<li class="btn1"><a href="{% url 'home:take_attendance'  '-' '-' %}"><i class="fas fa-pen"></i>Attendance Entry</a></li>
					<li class="btn1"><a href="{% url 'home:modify_attendance' %}"><i class="fas fa-edit"></i>Modify Attendance</a></li>
					{% endif %}
					{% if role == 'facultyAdvisor' %}
					<li class="btn1"><a href="{% url 'home:take_attendance' '-' '-' %}"><i class="fas fa-pen"></i>Attendance Entry</a></li>
					<li class="btn1"><a href="{% url 'home:modify_attendance' %}"><i class="fas fa-edit"></i>Modify Attendance</a></li>
					<li class="btn1"><a href="{% url 'home:generate_report' %}"><i class="fas fa-file"></i>Generate Report</a></li>
					{% endif %}
					{% if role == 'student' %}
					<li class="btn1 active"><a href="{% url 'home:view_attendance' %}"><i class="fas fa-eye"></i>View Attendance</a></li>
					{% endif %}
					<li class="btn1"><a href="#"><i class="far fa-question-circle"></i>About</a></li>
					<li class="btn1"><a href="#"><i class="far fa-envelope"></i>Contact</a></li>
				</ul>
			</div>
		</div>

		<div class="section">
            <div class="section_heading">
				<h1>View Attendance</h1>
			</div>
			<form action="{% url 'home:view_attendance' %}" method='POST' style="margin: 25px;">
				{% csrf_token %}
				<table width="40%">
					<tr>
						<td><label for="search_sub"  style="font-size: 21px;">Subject</label></td>
						<td><input type="text" name="search_sub" placeholder="Eg WD, DCN" required style="font-size: 21px;"><br><br></td>
					</tr>
					<tr>
						<td ><label for="ltype"  style="font-size: 21px;">Lecture Type</label></td>
						<td>
							<input type="radio" name="ltype" value="lecture" checked style="font-size: 21px;"> Lecture
							<input type="radio" name="ltype" value="lab" style="font-size: 21px;"> Lab
							<input type="radio" name="ltype" value="tut" style="font-size: 21px;"> Tutorial<br><br>
						</td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" value="Search" style="margin: 10px 40% 0;"></td>
					</tr>
				</table>
			</form>
			<br>
			{% if search_set|length > 0 %}
			<table class="view" width="40%">
				<tr>
					<th>Date</th>
					<th>Status</th>
					<th>Professor</th>
				</tr>
				{% for i in search_set %}
				<tr>
					<td>{{ i.date }}</td>
					<td>{{ i.status }}</td>
					<td>{{ i.prof_username }}</td>
				</tr>
				{% endfor %}
			</table>
			{% endif %}
		</div>
	</div>

	<script>
      var btnContainer = document.getElementById("mySidenav");
      var btns = btnContainer.getElementsByClassName("btn1");
      for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function() {
          var current = document.getElementsByClassName("active");
          current[0].className = current[0].className.replace(" active", "");
          this.className += " active";
        });
      }
    </script>
</body>

</html>
