{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="{% static 'icon/staff.svg' %}">
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<title>Login</title>
	</head>
	<body>

		<header>
			
		</header>

		<div class="align">
			<div class="card" style="width: 475px;">
				<div class="head">
					<div></div>
					{% block title %} <a id="login" class="selected" href="#login">Login</a> {% endblock %}
					<div></div>
				</div>
				<div class="tabs">
					{% block content %}
					<form method="post" action="/home/dashboard/">
						{% csrf_token %}
						<div class="inputs">
							<div class="input">
								<input type="radio" name="role" value="professor" checked /> <span>Professor</span>
								<input type="radio" name="role" value="student" /> <span>Student</span>
								<input type="radio" name="role" value="admin" /> <span>Admin</span>
								<input type="radio" name="role" value="facultyAdvisor" /> <span>Faculty Advisor</span>
							</div>
							<div class="input">
								<input placeholder="Username" type="text" name="username" required />
								<img src="{% static 'img/user.svg' %}">
							</div>
							<div class="input">
								<input placeholder="Password" type="password" name="password" required />
								<img src="{% static 'img/pass.svg' %}">
							</div>
						</div>
						<button name='login'>Login</button>
					</form>
					{% endblock %}
				</div>
			</div>
		</div>
		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'js/index.js' %}"></script>
	</body>
</html>
