* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	outline: none;
	box-sizing: border-box;
	border: none;
}

html, body {
	height: 100%;
	background: whitesmoke;
}
















